

.container{
  background: radial-gradient(rgb(106, 61, 72),rgb(33,10,19));
  width: 1000px;
}

.header{
  background-color: white;
  display: block;
}

.textleft{
  display: inline;
}
.textright{
  margin-left: 450px;
  display: inline;
}

.profilepic{
  display: inline-block;
  border: white 4px solid;
  margin: 25px 25px 25px 25px;
}

.aboutme{
  background-color:white;
  display:inline-block;
  width: 500px;
  height: 290px;
  vertical-align: top;
  margin:20px 0px 20px 20px;
  /*margin: 25px 25px 25px 25px;*/
  /*vertical-align: top;*/
  /*padding: 10px 10px 10px 5px;*/
}

.aboutbanner{
  display: inline-block;
  width: 450px;
  background-color: gray;
}
